body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 4em 1em;
  background-color: black;
  color: white;
  font-family: monospace;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  max-width: 70%;
}

#banner {
  width: 54%;
  margin: 0 auto;
}

.main {
  font-size: 1.2em;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .main {
    max-width: 50%;
    padding: 0px 20px;
  }
}

.main a:visited {
  color: green;
}

.main a:link {
  color: red;
}

.text {
  padding: 5%;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: 190px;
  position: fixed;
  z-index: 1;
  background: white;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: blue;
}

@media screen and (max-width: 1000px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidenav a {
    float: left;
  }

  .content {
    margin-left: 0;
  }

  img {
    width: 100%;
  }
}

#date {
  color: rgb(153, 0, 0);
  text-align: center;
  font-weight: bold;
}

#reviews {
  max-width: 100%;
  margin: none;
}
